# API Bin obj and .VS Files
ContactMangementServices/bin/
ContactMangementServices/obj/
ContactMangementServices/.vs/

# test obj and .VS Files
ContactMangementTest/bin/
ContactMangementTest/obj/
ContactMangementTest/.vs/

# React app Excluded File Here
contactmanagementapp/node_modules/
contactmanagementapp/.vscode/